{extend name="../../admin/view/table"}

{block name="button"}
<!--{if auth("add") and $type eq 'index'}-->
{if !in_array($articleType, ['about'])}
<button class='layui-btn layui-btn-sm layui-btn-primary' data-modal='{:url("add")}?article_type={$articleType}' data-title="添加数据">添加数据
</button>
{/if}
<!--{/if}-->

<!--{if auth("state") and $type eq 'index'}-->
<button class='layui-btn layui-btn-sm layui-btn-primary' data-table-id="DataTable" data-action='{:url("state")}'
        data-rule="id#{id};status#0">批量隐藏
</button>
<!--{/if}-->

<!--{if auth("state") and $type neq 'index'}-->
<button class='layui-btn layui-btn-sm layui-btn-primary' data-table-id="DataTable" data-action='{:url("state")}'
        data-rule="id#{id};status#1">批量显示
</button>
<!--{/if}-->

<!--{if auth("remove") and $type neq 'index'}-->
{if !in_array($articleType, ['index_swiper', 'about'])}
<button class='layui-btn layui-btn-sm layui-btn-primary' data-table-id="DataTable" data-action='{:url("remove")}'
        data-rule="id#{id}">批量删除
</button>
{/if}
<!--{/if}-->
{/block}

{block name="content"}
<div class="layui-tab layui-tab-card think-bg-white">
    <ul class="layui-tab-title">
        {foreach ['index'=>'显 示','recycle'=>'隐 藏'] as $k=>$v}
        {if isset($type) and $type eq $k}
        <li class="layui-this" data-open="{:url('index')}?type={$k}&article_type={$articleType}">{$v}</li>
        {else}
        <li data-open="{:url('index')}?type={$k}&article_type={$articleType}">{$v}</li>
        {/if}{/foreach}
    </ul>
    <div class="layui-tab-content">
        {include file='article/index_search'}
        <table id="DataTable" data-url="{:sysuri()}" data-line="2" data-target-search="form.form-search"></table>
    </div>
</div>
{/block}


{block name='script'}
<script>
    $(function () {
        const articleType = '{$articleType|default=""}';
        let cols = [
            {checkbox: true},
            {field: 'sort', title: '排序权重', width: 100, align: 'center', sort: true, templet: '#SortInputTpl'},
            {field: 'id', title: 'ID', align: "left", width: 80},
        ];

        switch(articleType){
            case "notice":
                cols.push({field: 'title', title: '标题', align: "left", minWidth: 200});
                break;
            case "index_swiper":
                cols.push({field: 'cover', title: '封面', align: "left", minWidth: 200, templet: '#coverTpl'});
                break;
            case "about":
                cols.push({field: 'title', title: '标题', align: "left", minWidth: 200});
                cols.push({field: 'desc', title: '内容', align: "left", minWidth: 200});
                break;
            default:
                cols.push({field: 'intro', title: '简介', align: "left", width: 140});
                cols.push({field: 'url', title: '跳转路径', align: "left", width: 140});
                cols.push({field: 'cover', title: '封面', align: "left", width: 140, templet: '#coverTpl'});
                cols.push({field: 'icon', title: '图标', align: "left", width: 140});
                cols.push({field: 'article_type_txt', title: '类型', align: "left", width: 140});
        }

        cols.push({field: 'status', title: '使用状态', align: 'center', width: 110, templet: '#StatusSwitchTpl'});
        cols.push({field: 'create_at', title: '添加时间', align: 'center', width: 150});
        cols.push({toolbar: '#toolbar', title: '操作面板', align: 'center', fixed: 'right', width: 150});

        $('#DataTable').layTable({
            even: true, height: 'full',
            sort: {field: 'sort desc,id', type: 'desc'},
            where: {type: '{$type|default="index"}', article_type: "{$articleType|default=''}"},
            cols: [cols]
        });

        // 数据状态切换操作
        layui.form.on('switch(StatusSwitch)', function (obj, data) {
            data = {id: obj.value, status: obj.elem.checked > 0 ? 1 : 0};
            $.form.load("{:url('state')}", data, 'post', function (ret) {
                if (ret.code < 1) $.msg.error(ret.info, 3, function () {
                    $('#DataTable').trigger('reload');
                }); else {
                    $('#DataTable').trigger('reload');
                }
                return false;
            }, false);
        });
    });
</script>

<!-- 封面图片模板 -->
<script type="text/html" id="coverTpl">
    {{# if (d.cover){ }}
    <div class="headimg headimg-no" data-tips-hover data-tips-image data-lazy-src="{{d.cover}}"></div>
    {{# }  }}
</script>

<!-- 排序权重模板 -->
<script type="text/html" id="SortInputTpl">
    <input type="number" min="0" data-blur-number="0" data-action-blur="{:sysuri()}"
           data-value="id#{{d.id}};action#sort;sort#{value}" data-loading="false" value="{{d.sort}}"
           class="layui-input text-center">
</script>

<!-- 状态切换模板 -->
<script type="text/html" id="StatusSwitchTpl">
    <!--{if auth("state")}-->
    <input type="checkbox" value="{{d.id}}" lay-skin="switch" lay-text="已显示|已隐藏" lay-filter="StatusSwitch"
           {{-d.status>0?'checked':''}}>
    <!--{else}-->
    {{-d.status ? '<b class="color-red">已显示</b>' : '<b class="color-green">已隐藏</b>'}}
    <!--{/if}-->
</script>

<!-- 操作面板模板 -->
<script type="text/html" id="toolbar">
    <!--{if auth("edit") and isset($type) and $type eq 'index'}-->
    <a class="layui-btn layui-btn-sm" data-full data-modal="{:url('edit')}?id={{d.id}}&article_type={{d.article_type}}" data-title="编辑">编 辑</a>
    <!--{/if}-->
    <!--{if auth("remove") and isset($type) and $type neq 'index'}-->
    {if !in_array($articleType, ['about'])}
    <a class="layui-btn layui-btn-sm layui-btn-danger" data-action="{:url('remove')}" data-value="id#{{d.id}}"
       data-confirm="确定要删除数据吗？">删 除</a>
    {/if}
    <!--{/if}-->
</script>
{/block}