<form action="{:sysuri()}" class='layui-form layui-card' data-auto="true" data-table-id="DataTable" method="post">

    <div class="layui-card-body padding-left-40">

        <div class="layui-form-item block relative">
            <span class="help-label label-required-prev"><b>客户</b></span>
            <select name="buyer_gid" lay-search lay-filter="selectBuyer">
                <option value="">请选择</option>
                {foreach $buyers as $gid=>$title}{if isset($vo.buyer_gid) && $gid eq $vo.buyer_gid}}
                <option value="{$gid}" selected>{$title}</option>
                {else}
                <option value="{$gid}">{$title}</option>
                {/if}
                {/foreach}
            </select>
        </div>
        <div class="layui-form-item block relative">
            <span class="help-label label-required-prev"><b>出库单</b></span>
            <div class="layui-input-group" data-show-out-iframe>
                <div class="layui-input color-desc pointer" id="out_stock_sns">{$vo.out_stock_sns|default='选择出库单'}</div>
                <input type="hidden" name="out_stock_sns" value="{$vo.out_stock_sns|default=''}">
                <div class="layui-input-split layui-input-suffix" style="cursor: pointer;">
                    <i class="layui-icon layui-icon-search"></i>
                </div>
            </div>
            <div class="color-desc" id="sn_list"></div>
        </div>
        <div class="layui-form-item block relative">
            <span class="help-label"><b>合计应收款金额</b></span>
            <div class="layui-input layui-disabled" id="un_paid_amount">{$vo.un_paid_amount|default="0"}</div>
        </div>
        <div class="layui-form-item block relative">
            <span class="help-label label-required-prev"><b>支付方式</b></span>
            <select name="pay_type">
                <option value="">请选择</option>
                {foreach :config("a.pay_in_types") as $k=>$v}{if isset($vo.pay_type) && $k eq $vo.pay_type}}
                <option value="{$k}" selected>{$v}</option>
                {else}
                <option value="{$k}">{$v}</option>
                {/if}
                {/foreach}
            </select>
        </div>

        <label class="layui-form-item block relative">
            <span class="help-label"><b>实际收款金额</b></span>
            <input class="layui-input" name="money" type="number" min="0" required placeholder="请输入收款金额" value='{$vo.money|default=""}'>
            <div class="color-desc">收款金额不能大于出库单合计应收款金额，审核通过后，将按出库单的审核时间，依次核销</div>
        </label>

        <div class="layui-form-item block relative">
            <span class="help-label"><b>收款凭证图片</b></span>
            <div>
                <input type="hidden" name="images" value="{$vo.images|default=''}">
                <script>$("[name=images]").uploadMultipleImage();</script>
            </div>
        </div>


        <label class="layui-form-item block relative">
            <span class="help-label"><b>备注</b></span>
            <textarea class="layui-textarea" name="remark" placeholder="请输入备注">{$vo.remark|default=''}</textarea>
        </label>
    </div>

    <div class="hr-line-dashed"></div>
    {notempty name='vo.id'}<input name='id' type='hidden' value='{$vo.id}'>{/notempty}
    <input name='sn' type='hidden' value='{$vo.sn|default=""}'>
    <input name='from' id="from" type='hidden' value=''>
    <div class="layui-form-item text-center">
        <button class="layui-btn" type='submit'>保存数据</button>
        <button class="layui-btn layui-btn-danger" data-close data-confirm="确定要取消编辑吗？" type='button'>取消编辑</button>
    </div>
</form>
<script>

    (function(){
        let sns = "{$vo.out_stock_sns|default=''}";
        let html = [];
        sns.split(",").forEach(sn=>{
            html.push(`<a data-modal="{:url('stock.outstock/detail')}?id=${sn}" data-full="1" data-title="查看出库单">${sn}</a>`);
        })
        html = "出库单号：" + html.join(", ");
        $("#sn_list").html(html);
    })();

    // 切换买家时，重置表单数据
    form.on("select(selectBuyer)", ()=>{
        $("#out_stock_sns").text("选择出库单");
        $("[name=out_stock_sns]").val("");
        $("#sn_list").html("出库单号：");

        $("[name=pay_type]").val("");
        $("#un_paid_amount").html(0);
        $("[name=money]").val(0);
        form.render();
    });

    $.base.onEvent("click", "[data-show-out-iframe]", ()=>{
        let $input = $("[name=buyer_gid]");
        let first = $input.next().find("dl>dd.layui-this").first()
        let cgid = first.attr("lay-value");
        let ctitle = first.text();
        if(!cgid) return $.msg.error("选择出库单前，请先选择企业客户");
        $.vandles.iframe("{:url('stock.outstock/select4payin')}?is_multi=1&cgid="+cgid, {title: "选择出库单 - " + ctitle, width: "1000px"})
    });

    // 选择出库单
    function setOutStocks(sns){
        let html = [];
        sns.forEach(sn=>{
            html.push(`<a data-modal="{:url('stock.outstock/detail')}?id=${sn}" data-full="1" data-title="查看出库单">${sn}</a>`);
        })
        sns = sns.join(',');
        html = "出库单号：" + html.join(", ");

        $("#out_stock_sns").text(sns);
        $("[name=out_stock_sns]").val(sns);
        $("#sn_list").html(html);

        // 合计应收款金额
        $.get(`{:url('stock.outstock/getUnPaidAmount')}?sns=${sns}`).then(res=>{
            if(res.code != 1) return $.msg.error(res.info||"系统错误");
            $("#un_paid_amount").text(res.data.amount||"");
        });
    }
    function setFrom(from){
        $("#from").val(from);
    }


</script>