{extend name="../../admin/view/table"}

{block name="button"}
<!--{if auth("add") and ($type == 9 || $type == 0)}-->
<button class='layui-btn layui-btn-sm layui-btn-primary' data-modal='{:url("add")}' data-title="添加数据">添加数据</button>
<!--{/if}-->

<!--{if auth("state") and $type eq 'index'}-->
<!-- <button class='layui-btn layui-btn-sm layui-btn-primary' data-table-id="DataTable" data-action='{:url("state")}' data-rule="id#{id};status#0">批量隐藏</button> -->
<!--{/if}-->

<!--{if auth("state") and $type neq 'index'}-->
<!-- <button class='layui-btn layui-btn-sm layui-btn-primary' data-table-id="DataTable" data-action='{:url("state")}' data-rule="id#{id};status#1">批量显示</button> -->
<!--{/if}-->

<!--{if auth("remove") and $type neq 'index'}-->
<!-- <button class='layui-btn layui-btn-sm layui-btn-primary' data-table-id="DataTable" data-action='{:url("remove")}' data-rule="id#{id}">批量删除</button> -->
<!--{/if}-->
{/block}

{block name="content"}
<div class="layui-tab layui-tab-card think-bg-white">
    <ul class="layui-tab-title">
        {foreach ['9'=>'全 部','0'=>'未审核','1' => '已审核','-1' => '已驳回'] as $k=>$v}
        {if isset($type) and $type eq $k}
        <li class="layui-this" data-open="{:sysuri()}?type={$k}">{$v}<sup class="layui-badge  total-border-radius" style="">{$total[$k]??0}</sup></li>
        {else}
        <li data-open="{:sysuri()}?type={$k}">{$v}<sup class="layui-badge  total-border-radius" style="">{$total[$k]??0}</sup></li>
        {/if}{/foreach}
    </ul>

    <div class="layui-tab-content">
       {include file='finance/payin/index_search'}
       <table id="DataTable" data-url="{:sysuri()}" data-target-search="form.form-search"></table>
    </div>
</div>
{/block}


{block name='script'}
<script>
    $(function () {
        let tableColKey = "tableColKey_/finance/payin_{$type|default='9'}";
        $('#DataTable').layTable({
            even: true, height: 'full', cellMinWidth: 100,
            sort: {field: 'id', type: 'desc'},
            where: {type: '{$type|default="9"}'},
            toolbar: true, defaultToolbar: ['filter'],
            cols: [function() {
                let type = "{$type}";
                let cols = [
                    {field: 'id', title: 'ID', align: "left", width: 80},
                    {field: 'sn', title: '收款单号', align: "left", width: 140, templet: (d)=>{
                            let html = `<a data-modal="{:url('show')}?id=${d.id}" data-title="查看">${d.sn}</a>`;
                            return html;
                    }},
                    {field: 'buyer_gid_txt', title: '客户名称', align: "left"},
                    {field: 'pay_type_txt', title: '支付方式', align: "left"},
                    {field: 'un_paid_amount', title: '合计应收款金额', align: "left"},
                    {field: 'money', title: '实际收款金额', align: "left"},
                    {field: 'create_by_txt', title: '制单人', align: "left"},
                    {field: 'pass_by_txt', title: '审核人', align: "left"},
                    {field: 'pass_at', title: '审核时间', align: "left", width: 150},

                    {field: 'status', title: '状态', align: 'center', width: 110, templet: '#StatusSwitchTpl'},
                    {field: 'create_at', title: '添加时间', align: 'center', width: 150},
                    {toolbar: '#toolbar', title: '操作面板', align: 'center', minWidth: type==0?180:100, fixed: 'right'}
                ];
                let local = layui.data(tableColKey);
                layui.each(cols, function(index, item){
                    if(item.field in local){
                        item.hide = local[item.field];
                    }
                });

                return cols;
            }()],
            done(){
                let that = this;
                that.elem.next().on('mousedown', 'input[lay-filter="LAY_TABLE_TOOL_COLS"]+',
                    function(){
                        let input = $(this).prev()[0];
                        layui.data(tableColKey, {
                            key: input.name
                            ,value: input.checked
                        })
                    })
            }
        });

        // 数据状态切换操作
        layui.form.on('switch(StatusSwitch)', function (obj, data) {
            data = {id: obj.value, status: obj.elem.checked > 0 ? 1 : 0};
            $.form.load("{:url('state')}", data, 'post', function (ret) {
                if (ret.code < 1) $.msg.error(ret.info, 3, function () {
                    $('#DataTable').trigger('reload');
                }); else {
                    $('#DataTable').trigger('reload');
                }
                return false;
            }, false);
        });
    });
</script>

<!-- 排序权重模板 -->
<script type="text/html" id="SortInputTpl">
    <input type="number" min="0" data-blur-number="0" data-action-blur="{:sysuri()}"
           data-value="id#{{d.id}};action#sort;sort#{value}" data-loading="false" value="{{d.sort}}"
           class="layui-input text-center">
</script>

<!-- 状态切换模板 -->
<script type="text/html" id="StatusSwitchTpl">
    {{# if(-d.status == 0){ }}
    <b class="v-color-danger">{{d.status_txt}}</b>
    {{# }else if(d.status == 1){ }}
    <b class="color-green">{{d.status_txt}}</b>
    {{# }else if(d.status == -1){ }}
    <b class="color-desc">{{d.status_txt}}</b>
    {{# } }}
</script>

<!-- 操作面板模板 -->
<script type="text/html" id="toolbar">
    <!--{if isset($type) and $type eq '0'}-->
    <!-- {if auth("pass")} -->
    <a class="layui-btn layui-btn-xs layui-btn-warm" data-modal="{:url('pass')}?id={{d.id}}" data-title="审核">审 核</a>
    <!-- {/if} -->

    <!-- {if auth("edit")} -->
    {{# if(d.create_by == {:session('user.id')}){ }}
    <a class="layui-btn layui-btn-xs" data-modal="{:url('edit')}?id={{d.id}}" data-title="编辑">编 辑</a>
    {{# }else{ }}
    <a class="layui-btn layui-btn-xs layui-btn-disabled" data-tips-text="只能修改自己创建的数据">编 辑</a>
    {{# } }}
    <!-- {/if} -->

    <!-- {if auth("remove")} -->
    {{# if(d.create_by == {:session('user.id')}){ }}
    <a class="layui-btn layui-btn-xs layui-btn-danger" data-action="{:url('remove')}" data-value="id#{{d.id}}" data-confirm="确定要删除数据吗？">删 除</a>
    {{# }else{ }}
    <a class="layui-btn layui-btn-xs layui-btn-disabled" data-tips-text="只能删除自己创建的数据">删 除</a>
    {{# } }}
    <!-- {/if} -->


    <!--{else}-->
    <!-- {if auth("show")} -->
    <a class="layui-btn layui-btn-xs layui-btn-primary" data-modal="{:url('show')}?id={{d.id}}" data-title="查看">查 看</a>
    <!-- {/if} -->
    <!--{/if}-->

</script>
{/block}