<style>
    .layui-disabled, .layui-disabled:hover {
        color: #999 !important;
    }
</style>
<form action="{:sysuri()}" class='layui-form layui-card' id="subs-form" data-auto="true" data-table-id="DataTable"
      method="post">

    <div class="layui-card-body padding-left-40">
        <div class="layui-row layui-col-space10">
            <div class="layui-col-sm3"><span class="help-label"><b>出库单号</b></span>
                <div class="layui-form-item">
                    <div class="layui-input layui-disabled">{{vo.sn || "自动生成"}}</div>
                </div>
            </div>
            <div class="layui-col-sm3"><span class="help-label"><b>出库方式</b></span>
                <div class="layui-form-item">
                    <div class="layui-input layui-disabled">{{vo.out_stock_type_txt || "自动生成"}}</div>
                </div>
            </div>
            <div class="layui-col-sm3"><span class="help-label"><b>销售订单</b></span>
                <div class="layui-form-item">
                    {if $mode == 'add' || $mode == 'edit'}
                    <div class="layui-input layui-disabled">{{vo.order_sn || '销售订单'}}</div>
                    <input type="hidden" v-model="vo.order_sn">
                    <!-- <div class="layui-input-split layui-input-suffix pointer v-flex-center layui-bg-blue" -->
                    <!--      data-iframe="{:url('sale.order/selectCom')}" data-title="选择销售订单" data-width="1000px" -->
                    <!--      style="width: 48px">选择 -->
                    <!-- </div> -->
                    {else}
                    <div class="layui-input layui-disabled">{{vo.order_sn || '销售订单'}}</div>
                    {/if}
                </div>
            </div>
        </div>
        <div class="layui-row layui-col-space10">
            <div class="layui-col-sm3"><span class="help-label"><b>客户</b></span>
                <div class="layui-form-item">
                    {if $mode == 'add' || $mode == 'edit'}
                    <div class="layui-input layui-disabled">{{buyer.title || '根据订单'}}</div>
                    <input type="hidden" :value="buyer.gid">
                    <!-- <div class="layui-input-split layui-input-suffix pointer v-flex-center layui-bg-blue" -->
                    <!--      data-iframe="{:url('buyer.buyer/select')}" data-title="选择客户" data-width="1000px" -->
                    <!--      style="width: 48px">选择 -->
                    <!-- </div> -->
                    {else}
                    <div class="layui-input layui-disabled">{{buyer.title || '未设置'}}</div>
                    {/if}
                </div>
            </div>
            <div class="layui-col-sm3"><span class="help-label label-required-prev"><b>出库仓库</b></span>
                <div class="layui-form-item" v-if="depotList.length>0">
                    {if $mode == 'add' || $mode == 'edit' || $mode == 'pass'}
                    <select name="depot_gid" lay-search lay-filter="select-depot">
                        <option value="">请选择出库仓库</option>
                        <option v-for="dd in depotList" :value="dd.gid" :selected="vo.depot_gid==dd.gid"
                                v-html="dd.title"></option>
                    </select>
                    {else}
                    <div class="layui-input layui-disabled">{{vo.depot_gid_txt || '请选择出库仓库'}}</div>
                    {/if}
                </div>
            </div>
        </div>
        <div class="layui-row layui-col-space10">
            <div class="layui-col-sm3"><span class="help-label"><b>制单人</b></span>
                <div class="layui-input layui-disabled">{{vo.create_by_txt || ""}}</div>
            </div>
            <div class="layui-col-sm3"><span class="help-label"><b>制单时间</b></span>
                <div class="layui-input layui-disabled">{{vo.create_at || "自动生成"}}</div>
            </div>
            <div class="layui-col-sm3"><span class="help-label"><b>审核人</b></span>
                <div class="layui-input layui-disabled">{{vo.pass_by_txt || ""}}</div>
            </div>
            <div class="layui-col-sm3"><span class="help-label"><b>审核时间</b></span>
                <div class="layui-input layui-disabled">{{vo.pass_at || "自动生成"}}</div>
            </div>
        </div>
        <div class="layui-row layui-col-space10">
            <div class="layui-col-sm6"><span class="help-label"><b>备注</b></span>
                {if $mode == 'add' || $mode == 'edit'}
                <textarea class="layui-textarea" name="remark" style="min-height:70px;" v-model="vo.remark"
                          placeholder="请输入备注"></textarea>
                {else}
                <div class="layui-textarea layui-disabled" style="min-height:70px;">{{vo.remark || ''}}</div>
                {/if}
            </div>
            <div class="layui-col-sm6"><span
                    class="help-label {$mode == 'pass' ? 'label-required-prev' : ''}"><b>审核备注</b></span>
                {if $mode == 'pass'}
                <textarea class="layui-textarea" name="pass_remark" v-model="vo.pass_remark" style="min-height:70px;"
                          placeholder="请输入审核备注">{{vo.pass_remark||''}}</textarea>
                {else}
                <div class="layui-textarea layui-disabled" style="min-height:70px;">
                    {{vo.pass_remark || '审核人员填写'}}
                </div>
                {/if}
            </div>
        </div>
        <div class="layui-row layui-col-space10">
            <div><b>明细列表</b></div>
            <table class="layui-table">
                <tr>
                    <td colspan="6">
                        {if $mode == 'add' || $mode == 'edit'}
                        <!-- <button class="layui-btn layui-btn-xs" type="button" @click="showSubAdd">添 加</button> -->
                        <button class="layui-btn layui-btn-xs" type="button" @click="showGoodsSelect">添 加</button>
                        {else}
                        <div style="height: 22px;"></div>
                        {/if}
                    </td>
                </tr>
                <tr>
                    <th>商品名称</th>
                    <th>商品规格</th>
                    <th>商品单位</th>
                    <th class="w120px">商品数量</th>
                    <th class="text-center" style="width:50px">操作</th>
                </tr>
                <tr v-for="(item,index) in subs" :key="item.goods_sn">
                    <td>{{item.goods_name}}</td>
                    <td>{{item.goods_spec}}</td>
                    <td>{{item.goods_unit}}</td>
                    {if $mode == 'add' || $mode == 'edit'}
                    <td class="table-input-edit"><input class="layui-input" type="number" min="0"
                                                        @blur="goodsNumberChange(index)" v-model="item.goods_number">
                    </td>
                    {else}
                    <td>{{item.goods_number}}</td>
                    {/if}
                    <td class="text-center">
                        {if $mode == 'add' || $mode == 'edit'}
                        <!-- <button class="layui-btn layui-btn-xs" type="button" @click="showSubEdit(index)">编 辑</button> -->
                        <button class="layui-btn layui-btn-xs layui-btn-danger" type="button" @click="subDel(index)">
                            删除
                        </button>
                        {/if}
                    </td>
                </tr>
                <tr v-if="subs.length > 0">
                    <td colspan="6" class="text-right font-w7"><span>合计总数量: {{vo.total || 0}}</span></td>
                </tr>
                <tr v-else>
                    <td class="text-center" colspan="6">暂无数据</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="hr-line-dashed margin-tb-20"></div>
    <div class="layui-form-item text-center" style="z-index: 99;">
        {if isset($vo.id)}<input name='id' type='hidden' value='{$vo.id}'>{/if}
        {if $mode == 'pass'}
        <input name='is_pass' type='hidden' value='1'>
        <button class="layui-btn" type='button' @click="pass(1)">审核出库</button>
        <button class="layui-btn layui-btn-primary" type='button' @click="pass(-1)">审核驳回</button>
        {elseif $mode == 'add' || $mode == 'edit'}
        <button class="layui-btn" type='button' @click="submit">保存数据</button>
        {/if}
        <button class="layui-btn layui-btn-danger" data-close type='button'>关闭窗口</button>
    </div>
</form>
<script>
    // let $vm;
    require(['vue'], function (Vue) {
        let that;
        $subsVm = new Vue({
            el: '#subs-form',
            data() {
                return {
                    depotList: [],
                    buyer: {},
                    vo: {},
                    subs: []
                }
            },
            mounted() {
                that = this;
                $.get("{:url('stock.depot/getDepotList')}").then(res => {
                    that.depotList = res.data.depotList;
                })
                this.buyer = JSON.parse('{$buyer|default=[]|json_encode|raw}');
                this.vo = JSON.parse('{$vo|default=[]|json_encode|raw}');
                this.subs = JSON.parse('{$subs|default=[]|json_encode|raw}');
            },
            updated() {
                layui.form.render();
            },
            methods: {
                pass(type) {
                    if (!this.vo.depot_gid) return $.msg.error('请选择出库仓库');

                    if (type == -1 && !this.vo.pass_remark) {
                        return $.msg.error('驳回时，请在审核备注填写驳回原因', 3, () => $("[name=pass_remark]").focus());
                    }
                    if (this.vo.status == 1) return $.msg.error('当前出库单已审核，不能重复审核');
                    if (this.vo.status == -1) return $.msg.error('当前出库单驳回，不能重复审核');


                    let params = {
                        sn: this.vo.sn,
                        type: type,
                        pass_remark: this.vo.pass_remark || '',
                        depot_gid: this.vo.depot_gid
                    }
                    $.msg.confirm("确认要审核出库单吗？", () => {
                        this.doPass(params);
                    });
                },
                doPass(params) {
                    $.post("{:url('pass')}", params).then(res => {
                        if (res.code != 1) return $.msg.error(res.info || "系统错误");
                        $.msg.success(res.info || "操作成功");
                        $.msg.closeThisModal("#subs-form");
                        // $('#DataTable').trigger('reload');
                        $.form.reload();
                    })
                },
                setSaleOrder1(saleOrder) {
                    this.vo.order_sn = saleOrder.sn;
                    this.subs = saleOrder.subs;
                    this.buyer = saleOrder.buyer;
                    this.calcTotal();
                    this.$forceUpdate()
                },
                calcTotal() {
                    let total = 0, amount = 0;
                    for (let i in this.subs) {
                        if (!this.subs[i].goods_number) continue;
                        total += +this.subs[i].goods_number;
                    }
                    this.$set(this.vo, "total", Math.round(total, 3).toFixed(3))
                },
                goodsNumberChange(index) {
                    this.calcTotal();
                },
                showGoodsSelect() {
                    $.vandles.iframe("{:url('product.goods/select')}?is_multi=1", {title: "添加商品", width: "1000px"})
                },
                subAdd(goods) {
                    for (let i in this.subs) {
                        if (this.subs[i].goods_sn == goods.goods_sn) {
                            let error = '商品已存在，请直接修改数量: ' + goods.goods_name;
                            $.msg.tips(error);
                            throw error
                        }
                    }
                    this.subs.push(goods);
                },
                subAddList(list) {
                    if (this.subs.length == 0) return this.subs = list;
                    for (let i in list) {
                        let goods = list[i];
                        let isDuplicate = false;
                        for (let j in this.subs) {
                            if (this.subs[j].goods_sn == goods.goods_sn) {
                                let error = '商品已存在，请直接修改数量: ' + goods.goods_name;
                                $.msg.tips(error);
                                isDuplicate = true;
                                break;
                            }
                        }
                        if (!isDuplicate) this.subs.push(goods);
                    }
                },
                subDel(index) {
                    $.msg.confirm("确定要删除吗？", () => {
                        this.subs.splice(index, 1);
                        this.calcTotal();
                    })
                },
                submit() {
                    if (!this.validate()) return;

                    let params = {
                        sn: this.vo.sn,
                        out_stock_type: this.vo.out_stock_type || 'sale',
                        order_sn: this.vo.order_sn || '',
                        buyer_gid: this.buyer.gid,
                        remark: this.vo.remark || '',
                        subs: this.subs,
                        depot_gid: this.vo.depot_gid
                    }
                    $.post("{:url('save')}", params).then(res => {
                        if (res.code != 1) return $.msg.error(res.info || "系统错误");
                        $.msg.success(res.info || "操作成功");
                        $.msg.closeThisModal("#subs-form");
                        // $('#DataTable').trigger('reload');
                        $.form.reload();
                    })
                },
                validate() {
                    if (this.vo.out_stock_type != 'produceget' && !this.buyer.gid) return $.msg.error("请选择客户") === null;
                    if (!this.vo.depot_gid) return $.msg.error('请选择出库仓库') === null;
                    if (this.subs.length == 0) return $.msg.error("请添加商品明细") === null;
                    for (let i in this.subs) {
                        let item = this.subs[i];
                        if (!item.goods_number || item.goods_number <= 0) {
                            let error = "请输入商品数量: " + item.goods_name
                            $.msg.error(error);
                            throw error;
                        }
                    }
                    return true;
                }
            }
        })
    });

    form.on('select(select-depot)', function (data) {
        $subsVm.vo.depot_gid = data.value;
    });

    function setCustomer1(gid) {
        $.get("{:url('buyer.buyer/getCustomerByGid')}?gid=" + gid).then(res => {
            if (res.code != 1) return $.msg.error(res.info || "系统错误");
            if ($subsVm.vo.out_stock_type == 'produceget') return $.msg.error("原料申领无需选择客户");
            $subsVm.buyer = res.data.one;
        });
    }

    // 选择商品
    function setGoods(goods_sn) {
        $.get(`{:url('product.goods/getGoodsBySn')}?sn=${goods_sn}&p=1`).then(res => {
            if (res.code != 1) return $.msg.error(res.info || "系统错误");
            $subsVm.subAddList(res.data.goods);
        });
    }

    // 选择销售单
    function setSaleOrder(sn) {
        $.get(`{:url('sale.saleorder/getSaleOrderAndSubsBySn')}?sn=${sn}`).then(res => {
            if (res.code != 1) return $.msg.error(res.info || "系统错误");
            $subsVm.setSaleOrder(res.data.one);
        });
    }


    // 导出excel
    function exportFile(obj) {
        let items = [], colWidth = [];
        // 1. 表头数据
        let headers = ["生产日期", "时间段", "商品名称", "商品单位", "生产规格", "计划数量", "实际数量"];
        // 工序操作者
        for (let p of processList) {
            headers.push(p.title);
        }
        headers.push("备注");

        items.push(headers);

        // 2. 表体数据
        layui.table.getData(obj.config.id).forEach(function (item) {
            let row = [
                item.date_week,
                item.time_slot_txt,
                item.goods_name,
                item.goods_unit,
                item.goods_spec,
                item.plan_number,
                item.actual_number,
            ];
            for (let p of processList) {
                row.push(item[`producer${p.id}_ids_txt`]);
            }
            row.push(item.remark);
            items.push(row);
        });

        // 3. 导出文件
        let date = layui.util.toDateString(Date.now(), '_yyyyMMdd_HHmmss');
        let title = `{$title|default=''}_${date}`
        $.vandles.exportExcle({items, colWidth}, title);
    }

    $.base.onEvent("click", "[data-reject]", function () {
        let remarkElem = $("[name=pass_remark]");
        let passRemark = remarkElem.val();
        if (!passRemark) {
            remarkElem.css({"border-color": "red"});
            remarkElem.off("blur").on("blur", function () {
                remarkElem.css({"border-color": ""});
            });
            return $.msg.error("请在审核备注栏填写驳回原因");
        }
        $.msg.confirm(this.dataset.confirm, () => {
            $.post("{:sysuri()}", {"pass_remark": passRemark, id: "{$vo.id|default=''}"}).then(res => {
                if (res.code != 1) return $.msg.error(res.info || "系统错误");
                $.msg.success(res.info, 2, () => {
                    $.form.reload();
                    $.msg.closeThisModal("#subs-form");
                });
            });
        });
    });

</script>
<script type="text/html" id="inlinebarSubs">
    {{# if(d.status == 0){ }}
    <button class="layui-btn layui-btn-xs" type="button" lay-event="subEdit">编 辑</button>
    <button class="layui-btn layui-btn-xs layui-btn-danger" type="button" lay-event="subDel">删 除</button>
    {{# } }}
</script>
<script type="text/html" id="toolbarSubs">
    <button class="layui-btn layui-btn-xs layui-btn-primary" type="button" lay-event="subAdd">添 加</button>
    <!-- <button class="layui-btn layui-btn-xs layui-btn-primary" type="button" lay-event="subReload">刷 新</button> -->
    <!-- <button class="layui-btn layui-btn-xs layui-btn-danger" type="button" lay-event="subDel">删除</button> -->
</script>