{extend name="../../admin/view/full"}

{block name="button"}
<!--{if auth("add") and $type eq 'index'}-->
<!-- <button class='layui-btn layui-btn-sm layui-btn-primary' data-full data-modal='{:url("add")}' data-title="添加">添加</button> -->
<!--{/if}-->

<!--{if auth("state") and $type eq 'index'}-->
<!-- <button class='layui-btn layui-btn-sm layui-btn-primary' data-table-id="DataTable" data-action='{:url("state")}' data-rule="id#{id};status#0">批量隐藏</button> -->
<!--{/if}-->

<!--{if auth("state") and $type neq 'index'}-->
<!-- <button class='layui-btn layui-btn-sm layui-btn-primary' data-table-id="DataTable" data-action='{:url("state")}' data-rule="id#{id};status#1">批量显示</button> -->
<!--{/if}-->

<!--{if auth("remove") and $type neq 'index'}-->
<!-- <button class='layui-btn layui-btn-sm layui-btn-primary' data-table-id="DataTable" data-action='{:url("remove")}' data-confirm="确定要删除吗？" data-rule="id#{id}">批量删除</button> -->
<!--{/if}-->
{/block}

{block name="content"}
<div class="layui-tab layui-tab-card think-bg-white">
    <div class="layui-tab-content">
        <form action="{:sysuri()}" autocomplete="off" id="searchSelect" class="layui-form layui-form-pane form-search" method="get" onsubmit="return false">
            <!-- <div class="layui-form-item layui-inline"> -->
            <!--     <label class="layui-form-label">商品名称</label> -->
            <!--     <label class="layui-input-inline"> -->
            <!--         <input class="layui-input" name="name" placeholder="请输入商品名称" value="{$get.name|default=''}"> -->
            <!--     </label> -->
            <!-- </div> -->

            <!--    <div class="layui-form-item layui-inline">-->
            <!--        <label class="layui-form-label">添加时间</label>-->
            <!--        <label class="layui-input-inline">-->
            <!--            <input class="layui-input" data-date-range name="create_at" placeholder="请选择添加时间" value="{$get.create_at|default=''}">-->
            <!--        </label>-->
            <!--    </div>-->

            <div class="layui-form-item layui-inline">
                <input name="type" type="hidden" value="{$type|default='index'}">
                <!-- <button class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 搜 索</button> -->
                {if $is_multi == 1}
                <a class="layui-btn layui-btn-xs layui-btn-normal layui-btn-disabled" id="select-btn" data-select-multi>选 择</a>
                {/if}
            </div>
        </form>
        <table id="DataTable" data-url="{:sysuri()}" data-target-search="form.form-search"></table>
    </div>
</div>
{/block}


{block name='script'}
<script>
    let is_multi = '{$is_multi|default=0}';
    $(function () {
        $('#DataTable').layTable({
            even: true, height: 'full',
            sort: {field: 'id', type: 'desc'},
            where: {cgid: '{$buyer_gid|default=""}'},
            cols: [function(){
                let cols = [
                    {field: 'id', title: 'ID', align: "left", width: 30},
                    {field: 'sn', title: '单号', align: "left", width: 150, templet: (d)=>{
                        let html = `<a data-modal="{:url('show')}?id=${d.id}" data-full="1" data-title="查看">${d.sn}</a>`;
                        return html;
                    }},
                    {field: 'total', title: '合计总数量', align: "left", width: 120},
                    {field: 'amount', title: '合计总金额', align: "left", width: 120},
                    {field: 'paid_amount', title: '已支付金额', align: "left", width: 120},
                    {field: 'unpaid_amount', title: '未支付金额', align: "left", width: 120},
                    {field: 'status_txt', title: '状态', align: "left", width: 120},
                    {field: 'pass_at', title: '审核时间', align: "left", minWidth: 200},
                    {toolbar: '#toolbar', title: '操作面板', align: 'center', fixed: 'right', maxWidth: 100}
                ];
                if(is_multi  == 1) cols.unshift({checkbox: true});
                return cols;
            }()]
        });
    });
    layui.form.on("select(searchSelect)", ()=>$("#searchSelectForm").submit());
</script>

<!-- 操作面板模板 -->
<script type="text/html" id="toolbar">
    <!--{if auth("select4payin")}-->
    <a class="layui-btn layui-btn-xs layui-btn-normal" data-select="{{d.sn}}">选 择</a>
    <!--{/if}-->
</script>
<script>
    $(function () {
        $.base.onEvent("click", "[data-select]", function(){
            let sn = $(this).data("select") || '';
            if(sn){
                top.setOutStocks([sn]);
                top.setFrom("{$from}");
            }
            else return;
            parent.layer.close(parent.layer.getFrameIndex(window.name));
        })
        $.base.onEvent("click", "[data-select-multi]", function(){
            let list = layui.table.checkStatus('DataTable').data;
            let sn_list = list.map(item => item.sn);
            if(sn_list.length > 0) {
                top.setOutStocks(sn_list);
                top.setFrom("{$from}");
            }
            else return;
            parent.layer.close(parent.layer.getFrameIndex(window.name));
        })
        layui.table.on('checkbox(DataTable)', function(obj){
            let list = layui.table.checkStatus('DataTable').data;
            if(list.length > 0) $("#select-btn").removeClass("layui-btn-disabled").attr("data-select-multi", true);
            else $("#select-btn").addClass("layui-btn-disabled").removeAttr("data-select-multi");
        })
    });

    // $('[data-item]').on('click', function () {
    //     top.setItemValue(this.getAttribute('data-item') || '');
    //     parent.layer.close(parent.layer.getFrameIndex(window.name));
    // });
</script>
{/block}