<form action="{:sysuri()}" class='layui-form layui-card layui-form-pane' data-auto="true" data-table-id="DataTable" method="post">
    <div class="layui-card-body padding-left-40">
        <div class="layui-form-item">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-block">
                <input class="layui-input" name="username" required placeholder="请输入用户名" value=''>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-block">
                <input class="layui-input" type="password" name="password" required placeholder="请输入密码" value=''>
            </div>
        </div>
    </div>

    <div class="hr-line-dashed"></div>
    <div class="layui-form-item text-center">
        <button class="layui-btn" type='submit'>保存数据</button>
        <button class="layui-btn layui-btn-danger" data-close type='button'>取消编辑</button>
    </div>
</form>
