<form action="{:sysuri()}" class='layui-form layui-form-pane layui-card' id="subs-form" data-auto="true" data-table-id="DataTable" method="post">
    <div class="layui-card-body padding-left-40">
        <div class="layui-row layui-col-space10">
            <div class="layui-form-item">
                {foreach $column_map as $k=>$v}
                <div class="layui-inline">
                    <label class="layui-form-label">{$v}</label>
                    <div class="layui-input-inline">
                        <div class="layui-input">{$vo[$k]}</div>
                    </div>
                </div>
                {/foreach}
            </div>
        </div>

        <!-- 明细列表 -->
        <div class="layui-row layui-col-space10">
            <div><b>明细列表</b></div>
            <?php $count = 7;?>
            <table class="layui-table">
                <tr class="v-bg-fa">
                    <th>序号</th>
                    <th>商品名称</th>
                    <th>商品规格</th>
                    <th>商品单位</th>
                    <th class="w120px">商品数量</th>
                    <th class="w120px">商品单价</th>
                    <th class="w120px">商品金额</th>
                </tr>
                <tr v-for="(item,index) in subs" :key="item.goods_sn">
                    <td>{{item.serial_no}}</td>
                    <td>{{item.goods_name}}</td>
                    <td>{{item.goods_spec}}</td>
                    <td>{{item.goods_unit}}</td>
                    <td>{{item.goods_number}}</td>
                    <td>{{item.goods_cost}}</td>
                    <td>{{item.goods_amount}}</td>
                </tr>
                <tr v-if="subs.length > 0">
                    <td colspan="{$count}" class="text-right">
                        <span class="margin-left-20">合计总数量: <b>{{vo.total || 0}}</b></span>
                        <span class="margin-left-20">合计总金额: <b>{{vo.amount || 0}}</b></span>
                        <span class="margin-left-20">已支付金额: <b>{{vo.paid_amount || 0}}</b></span>
                        <span class="margin-left-20">未支付金额: <b class="color-red">{{vo.unpaid_amount || 0}}</bclass></span>
                    </td>
                </tr>
                <tr v-else>
                    <td class="text-center" colspan="{$count}">暂无数据</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="hr-line-dashed margin-tb-20"></div>
    <div class="layui-form-item text-center" style="z-index: 99;">
        {if isset($vo.id)}<input name='id' type='hidden' value='{$vo.id}'>{/if}
        <button class="layui-btn layui-btn-danger" data-close type='button'>关闭窗口</button>
    </div>
</form>
<script>
    require(['vue'], function (Vue) {
        new Vue({
            el: '#subs-form',
            data() {
                return {
                    vo: {},
                    subs: []
                }
            },
            mounted() {
                this.vo = JSON.parse('{$vo|default=[]|json_encode|raw}');
                this.subs = JSON.parse('{$subs|default=[]|json_encode|raw}');
            },
            updated() {
                layui.form.render();
            }
        })
    });




    // 导出excel
    function exportFile(obj) {
        let items = [], colWidth = [];
        // 1. 表头数据
        let headers = ["生产日期", "时间段", "商品名称", "商品单位", "生产规格", "计划数量", "实际数量"];
        // 工序操作者
        for (let p of processList) {
            headers.push(p.title);
        }
        headers.push("备注");

        items.push(headers);

        // 2. 表体数据
        layui.table.getData(obj.config.id).forEach(function (item) {
            let row = [
                item.date_week,
                item.time_slot_txt,
                item.goods_name,
                item.goods_unit,
                item.goods_spec,
                item.plan_number,
                item.actual_number,
            ];
            for (let p of processList) {
                row.push(item[`producer${p.id}_ids_txt`]);
            }
            row.push(item.remark);
            items.push(row);
        });

        // 3. 导出文件
        let date = layui.util.toDateString(Date.now(), '_yyyyMMdd_HHmmss');
        let title = `{$title|default=''}_${date}`
        $.vandles.exportExcle({items, colWidth}, title);
    }
</script>