<form action="{:sysuri()}" class='layui-form layui-card' data-auto="true" data-table-id="DataTable" method="post">

    <div class="layui-card-body padding-left-40">

        <label class="layui-form-item block relative">
            <span class="help-label"><b>充值金额</b></span>
            <input class="layui-input" name="money" required placeholder="请输入充值金额" value='{$vo.money|default=""}'>
        </label>
        <label class="layui-form-item block relative">
            <span class="help-label"><b>赠送金额</b></span>
            <input class="layui-input" name="give_money" required placeholder="请输入赠送金额" value='{$vo.give_money|default=""}'>
        </label>
    </div>

    <div class="hr-line-dashed"></div>
    {notempty name='vo.id'}<input name='id' type='hidden' value='{$vo.id}'>{/notempty}

    <div class="layui-form-item text-center">
        <button class="layui-btn" type='submit'>保存数据</button>
        <button class="layui-btn layui-btn-danger" data-close data-confirm="确定要取消编辑吗？" type='button'>取消编辑</button>
    </div>
</form>
