<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
		<rewrite>
            <rules>
                <rule name="OrgPage" stopProcessing="true">
                    <match url="^(.*)$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{HTTP_HOST}" pattern="^(.*)$" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php/{R:1}" />
                </rule>
            </rules>
         </rewrite>
        <handlers>
            <add name="php743" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="D:\php\php7.4.3nts\php-cgi.exe" resourceType="File" />
        </handlers>
		<defaultDocument>
            <files>
                <add value="index.php" />
            </files>
        </defaultDocument>
		<staticContent>
			<mimeMap fileExtension="." mimeType="text/plain" />
			<mimeMap fileExtension=".apk" mimeType="Application/vnd. android. package-archive" />
        </staticContent>
	</system.webServer>
</configuration>
