<form action="{:sysuri()}" class='layui-form layui-card' data-auto="true" data-table-id="DataTable" method="post">

    <div class="layui-card-body padding-left-40">

        <label class="layui-form-item block relative">
            <span class="help-label"><b>配置标题</b></span>
            <input class="layui-input" maxlength="100" name="title" placeholder="请输入配置标题" required value='{$vo.title|default=""}'>
        </label>
        <label class="layui-form-item block relative">
            <span class="help-label"><b>配置名称</b></span>
            <input class="layui-input" maxlength="100" pattern="^[a-zA-Z][a-zA-Z0-9_]+$" name="name" placeholder="请输入配置名称" required value='{$vo.name|default=""}'>
            <div class="color-desc">必须为以英文开头，后面可以包含字母、数字、下划线</div>
        </label>
        <label class="layui-form-item block relative">
            <span class="help-label"><b>类型</b></span>
            <select class="layui-select" name="input_type" required>
                {foreach ['input','image','images'] as $k=>$v}
                <option value="{$v}" {:isset($vo.input_type) && $vo.input_type==$v?'selected':''}>{$v}</option>
                {/foreach}
            </select>
        </label>
        <label class="layui-form-item block relative">
            <span class="help-label"><b>配置类型</b></span>
            <select class="layui-select" name="xtype" required>
                {foreach ['app','sys'] as $k=>$v}
                <option value="{$v}" {:isset($vo.xtype) && $vo.xtype==$v?'selected':''}>{$v}</option>
                {/foreach}
            </select>
        </label>
        <label class="layui-form-item block relative">
            <span class="help-label"><b>配置说明</b></span>
            <input class="layui-input" maxlength="100" name="desc" placeholder="请输入配置说明" value='{$vo.desc|default=""}'>
        </label>
        <div style="width: 200px;height: 200px;"></div>
    </div>

    <div class="hr-line-dashed"></div>

    <div class="layui-form-item text-center">
        {notempty name='vo.id'}<input name='id' type='hidden' value='{$vo.id}'>{/notempty}
        <button class="layui-btn" type='submit'>保存数据</button>
        <button class="layui-btn layui-btn-danger" data-close type='button'>取消编辑</button>
    </div>
</form>
