{extend name="../../admin/view/main"}

{block name="button"}
<button class='layui-btn layui-btn-sm layui-btn-primary' data-open="{:url('index')}" >返回列表</button>

<!--{if auth("clean")}-->
<!--<button class='layui-btn layui-btn-sm layui-btn-primary' data-queue='{:url("clean")}'>定时清理订单</button>-->
<!--{/if}-->
{/block}

{block name="content"}
{include file="public/style" /}
<div class="think-box-shadow margin-bottom-15">
    <div class="user-info-detail">
        <div>
            <div class="headimg headimg-xs" data-tips-hover data-tips-image  data-lazy-src="{$customer.avatar|default='/static/theme/img/headimg.png'}"></div>
        </div>
        <div class="detail_info">
            <div class="layui-inline"><span class="title">企业名称：</span><span class="value">{$customer.title}<span class="color-desc"> [{$customer.id}]</span></span></div>
            <div class="layui-inline"><span class="title ml-30">企业税号：</span><span class="value">{$customer.taxno}</span></div>
            <div class="layui-inline"><span class="title ml-30">联系人：</span><span class="value">{$customer.link_name}</span></div>
            <div class="layui-inline"><span class="title ml-30">联系电话：</span><span class="value">{$customer.link_phone}</span></div>
<!--            <br>-->


            <div class="layui-inline"><span class="title ml-30">使用状态：</span><span class="value">{$customer.status_txt}</span></div>
            <div class="layui-inline"><span class="title">GID：</span><span class="value nowrap" data-copy>{$customer.gid}</span></div>
            <div class="layui-inline"><span class="title">企业地址：</span><span class="value nowrap" data-copy>{$customer.address}</span></div>

            <hr>
            <div class="layui-inline"><span class="title ml-30">用户余额：</span><span class="value">￥{$customer.money|number_format=2}</span></div>
        </div>


    </div>
</div>
<div class="layui-tab layui-tab-card">
    <ul class="layui-tab-title notselect">
        {foreach :config("a.customer_info_tabs") as $k=>$v}{if isset($type) and $type eq $k}
        <li class="layui-this" data-open="{:url('detail')}?buyer_gid={$buyer_gid}&type={$k}">{$v}{if !empty($total[$k])}<sup class="layui-badge">{$total[$k]??0}</sup>{/if}</li>
        {else}
        <li data-open="{:url('detail')}?openid={$openid}&type={$k}">{$v}{if !empty($total[$k])}<sup class="layui-badge">{$total[$k]??0}</sup>{/if}</li>
        {/if}{/foreach}
    </ul>
    <div class="layui-tab-content">
        {switch name="type"}
            {case 0}{include file="customer/customer/subs/buyer_money_log"}{/case}
        {/switch}
    </div>
</div>
{/block}
