{extend name="../../admin/view/table"}

{block name="button"}
<!--{if auth("add") and $type eq 'index'}-->
<button class='layui-btn layui-btn-sm layui-btn-primary' data-modal='{:url("add")}' data-title="添加数据">添加数据
</button>
<!--{/if}-->

<!--{if auth("state") and $type eq 'index'}-->
<button class='layui-btn layui-btn-sm layui-btn-primary' data-table-id="DataTable" data-action='{:url("state")}'
        data-rule="id#{id};status#0">批量隐藏
</button>
<!--{/if}-->

<!--{if auth("state") and $type neq 'index'}-->
<button class='layui-btn layui-btn-sm layui-btn-primary' data-table-id="DataTable" data-action='{:url("state")}'
        data-rule="id#{id};status#1">批量显示
</button>
<!--{/if}-->

<!--{if auth("remove") and $type neq 'index'}-->
<button class='layui-btn layui-btn-sm layui-btn-primary' data-table-id="DataTable" data-action='{:url("remove")}'
        data-rule="id#{id}">批量删除
</button>
<!--{/if}-->
{/block}

{block name="content"}
<div class="layui-tab layui-tab-card think-bg-white">
    <ul class="layui-tab-title">
        {foreach ['index'=>'显 示','recycle'=>'隐 藏'] as $k=>$v}
        {if isset($type) and $type eq $k}
        <li class="layui-this" data-open="{:url('index')}?type={$k}">{$v}</li>
        {else}
        <li data-open="{:url('index')}?type={$k}">{$v}</li>
        {/if}{/foreach}
    </ul>

    <div class="layui-tab-content">
       {include file='customer/customer/index_search'}
       <table id="DataTable" data-url="{:sysuri()}" data-target-search="form.form-search"></table>
    </div>
</div>
{/block}


{block name='script'}
<script>
    $(function () {
        let tableColKey = "tableColKey_/customer/index_{$type|default='index'}";
        $('#DataTable').layTable({
            even: true, height: 'full', cellMinWidth: 100,
            sort: {field: 'sort desc,id', type: 'desc'},
            where: {type: '{$type|default="index"}'},
            toolbar: true, defaultToolbar: ['filter'],
            cols: [function() {
                let cols = [
                    {checkbox: true},
                    {field: 'sort', title: '排序权重', width: 100, align: 'center', sort: true, templet: '#SortInputTpl'},
                    {field: 'id', title: 'ID', align: "left", width: 80},
                    {field: 'title', title: '名称', align: "left"},
                    {field: 'taxno', title: '纳税人识别号', align: "left"},
                    {field: 'address', title: '地址', align: "left"},
                    {field: 'link_name', title: '联系人', align: "left"},
                    {field: 'link_phone', title: '联系电话', align: "left"},
                    {field: 'money', title: '预收余额', align: "left"},
                    {field: 'status', title: '使用状态', align: 'center', width: 110, templet: '#StatusSwitchTpl'},
                    {field: 'create_at', title: '添加时间', align: 'center', width: 150},
                    {toolbar: '#toolbar', title: '操作面板', align: 'center', fixed: 'right', width: 150}
                ];
                let local = layui.data(tableColKey);
                layui.each(cols, function(index, item){
                    if(item.field in local){
                        item.hide = local[item.field];
                    }
                });

                return cols;
            }()],
            done(){
                let that = this;
                that.elem.next().on('mousedown', 'input[lay-filter="LAY_TABLE_TOOL_COLS"]+',
                    function(){
                        let input = $(this).prev()[0];
                        layui.data(tableColKey, {
                            key: input.name
                            ,value: input.checked
                        })
                    })
            }
        });

        // 数据状态切换操作
        layui.form.on('switch(StatusSwitch)', function (obj, data) {
            data = {id: obj.value, status: obj.elem.checked > 0 ? 1 : 0};
            $.form.load("{:url('state')}", data, 'post', function (ret) {
                if (ret.code < 1) $.msg.error(ret.info, 3, function () {
                    $('#DataTable').trigger('reload');
                }); else {
                    $('#DataTable').trigger('reload');
                }
                return false;
            }, false);
        });
    });
</script>

<!-- 排序权重模板 -->
<script type="text/html" id="SortInputTpl">
    <input type="number" min="0" data-blur-number="0" data-action-blur="{:sysuri()}"
           data-value="id#{{d.id}};action#sort;sort#{value}" data-loading="false" value="{{d.sort}}"
           class="layui-input text-center">
</script>

<!-- 状态切换模板 -->
<script type="text/html" id="StatusSwitchTpl">
    <!--{if auth("state")}-->
    <input type="checkbox" value="{{d.id}}" lay-skin="switch" lay-text="已显示|已隐藏" lay-filter="StatusSwitch"
           {{-d.status>0?'checked':''}}>
    <!--{else}-->
    {{-d.status ? '<b class="color-red">已显示</b>' : '<b class="color-green">已隐藏</b>'}}
    <!--{/if}-->
</script>

<!-- 操作面板模板 -->
<script type="text/html" id="toolbar">
    <!--{if auth("detail")}-->
    <a class="layui-btn layui-btn-xs layui-btn-primary" data-open="{:url('detail')}?buyer_gid={{d.gid}}" data-full data-title="详情">详 情</a>
    <!--{/if}-->

    <!--{if auth("edit") and isset($type) and $type eq 'index'}-->
    <a class="layui-btn layui-btn-xs" data-modal="{:url('edit')}?id={{d.id}}" data-title="编辑">编 辑</a>
    <!--{/if}-->
    <!--{if auth("remove") and isset($type) and $type neq 'index'}-->
    <a class="layui-btn layui-btn-xs layui-btn-danger" data-action="{:url('remove')}" data-value="id#{{d.id}}"
       data-confirm="确定要删除数据吗？">删 除</a>
    <!--{/if}-->
</script>
{/block}